ion-content{
    --ion-background-color: #8ec6c5;
  }
  
  .button{
    width: 50%;
    height: 50%;
    margin-left: 25%;
  }
  
    .text{
      color: #00263b;
      margin-left: 10px;
      font-size: 18px;
      position: relative;
    }
    
    .padding{
      padding-right: 5%;
    }
  
    .padding_note{
      padding-right: 5%;
      padding-left: 5%;
    }
  
    .box1{
      width: 100%;
      padding: 3%;
      outline: none;
      border: none;
      background: none;
      color: #00263b;
      background-color:#ffffff;
      opacity: 0.6;
      border-radius: 10px;
      position: relative;
      width: 100%;
      justify-content: center;
      align-items: center;
    }
    .box{
      background-color:#ffffff;
      opacity: 0.6;
      border-radius: 30px;
      position: relative;
      width: 100%;
      justify-content: center;
      align-items: center;
    }
    
    .input-search{
      display: flex;
      flex-direction: row;
      align-items: center;
      .input{
          flex: 1;
          background-color: #ffffff;
          height: 1.5em;
          border-radius: 1.25em;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 10px;
          &.error{
              border:1px solid red;
          }
          input{
              width: 100%;
              outline: none;
              border: none;
              background: none;
              color: #00263b;
          }
    
    
          ::placeholder {
              color: #6cacad;
              opacity: 1; /* Firefox */
          }
          
          :-ms-input-placeholder { /* Internet Explorer 10-11 */
              color: #6cacad;
          }
          
          ::-ms-input-placeholder { /* Microsoft Edge */
              color: #6cacad;
          }
          input:-webkit-autofill,
          input:-webkit-autofill:hover, 
          input:-webkit-autofill:focus, 
          input:-webkit-autofill:active  {
              -webkit-box-shadow: 0 0 0 30px white inset !important;
              border: none !important;
          }
      }
    
      
    }