<ion-content>
  <div class="button_back">
    <img src="assets/icon/back.png" (click)="backpage()">
  </div>

<ion-content>
    <img class = "logo" src="assets/icon/logo.png">
<div>
  <img class = "img" src="assets/icon/tax.png">
</div>
  
  <div class= "img">
    <img src="assets/icon/Next.png" (click)="save()">
  </div>
  </ion-content>
  
