<ion-content>
  <div class="button_back">
    <img src="assets/icon/back.png" (click)="backpage()">
  </div>

<ion-content>
    <img class = "logo" src="assets/icon/logo.png">
<div>
  <img class = "img" src="assets/icon/destination.png">
</div>

<div class="textAlert">* Cost : </div>
  <ion-grid>
    <ion-row>
      <ion-col class="text">
    {{shipment}}    
    </ion-col>
    </ion-row>
  </ion-grid>
  
    <ion-grid>
      <ion-row>
        <ion-col size="6">
      <div class="text">
        Delivery Order : 
      </div>
    </ion-col>
    <ion-col size="3.5">
      <div class="text">
        <div class="box">
          <div class="input-search">
            <div class="input">
              <input #index1 type="number" [(ngModel)]="do">
            </div>
          </div>
        </div> 
      </div>
    </ion-col>
    </ion-row>
    </ion-grid>
  
    <ion-grid>
      <ion-row>
        <ion-col size="6">
      <div class="text">
        Handling Charge : 
      </div>
    </ion-col>
    <ion-col size="3.5">
      <div class="text">
        <div class="box">
          <div class="input-search">
            <div class="input">
              <input #index1 type="number" [(ngModel)]="hl">
            </div>
          </div>
        </div> 
      </div>
    </ion-col>
    </ion-row>
    </ion-grid>
  
    <ion-grid>
      <ion-row>
        <ion-col size="6">
      <div class="text">
        Terminal Handling Charge : 
      </div>
    </ion-col>
    <ion-col size="3.5">
      <div class="text">
        <div class="box">
          <div class="input-search">
            <div class="input">
              <input #index1 type="number" [(ngModel)]="thc">
            </div>
          </div>
        </div> 
      </div>
    </ion-col>
    </ion-row>
    </ion-grid>
  
    <ion-grid>
      <ion-row>
        <ion-col size="6">
      <div class="text">
        Status : 
      </div>
    </ion-col>
    <ion-col size="3.5">
      <div class="text">
        <div class="box">
          <div class="input-search">
            <div class="input">
              <input #index1 type="number" [(ngModel)]="sts">
            </div>
          </div>
        </div> 
      </div>
    </ion-col>
    </ion-row>
    </ion-grid>
  
    <ion-grid>
      <ion-row>
        <ion-col size="6">
      <div class="text">
        Facility : 
      </div>
    </ion-col>
    <ion-col size="3.5">
      <div class="text">
        <div class="box">
          <div class="input-search">
            <div class="input">
              <input #index1 type="number" [(ngModel)]="fac">
            </div>
          </div>
        </div> 
      </div>
    </ion-col>
    </ion-row>
    </ion-grid>
  
    <ion-grid>
      <ion-row>
        <ion-col size="6">
      <div class="text">
        Port Congestion Surcharge : 
      </div>
    </ion-col>
    <ion-col size="3.5">
      <div class="text">
        <div class="box">
          <div class="input-search">
            <div class="input">
              <input #index1 type="number" [(ngModel)]="pcs">
            </div>
          </div>
        </div> 
      </div>
    </ion-col>
    </ion-row>
    </ion-grid>
  
    <ion-grid>
      <ion-row>
        <ion-col size="6">
      <div class="text">
        Lift On : 
      </div>
    </ion-col>
    <ion-col size="3.5">
      <div class="text">
        <div class="box">
          <div class="input-search">
            <div class="input">
              <input #index1 type="number" [(ngModel)]="lo">
            </div>
          </div>
        </div> 
      </div>
    </ion-col>
    </ion-row>
    </ion-grid>
  
    <ion-grid>
      <ion-row>
        <ion-col size="6">
      <div class="text">
        Cleaning Charge : 
      </div>
    </ion-col>
    <ion-col size="3.5">
      <div class="text">
        <div class="box">
          <div class="input-search">
            <div class="input">
              <input #index1 type="number" [(ngModel)]="cc">
            </div>
          </div>
        </div> 
      </div>
    </ion-col>
    </ion-row>
    </ion-grid>
  
    <ion-grid>
      <ion-row>
        <ion-col size="6">
      <div class="text">
        Demerage : 
      </div>
    </ion-col>
    <ion-col size="3.5">
      <div class="text">
        <div class="box">
          <div class="input-search">
            <div class="input">
              <input #index1 type="number" [(ngModel)]="dm">
            </div>
          </div>
        </div> 
      </div>
    </ion-col>
    </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col size="6">
      <div class="text">
        Return : 
      </div>
    </ion-col>
    <ion-col size="3.5">
      <div class="text">
        <div class="box">
          <div class="input-search">
            <div class="input">
              <input #index1 type="number" [(ngModel)]="return">
            </div>
          </div>
        </div> 
      </div>
    </ion-col>
    </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col size="6">
      <div class="text">
        Trucking : 
      </div>
    </ion-col>
    <ion-col size="3.5">
      <div class="text">
        <div class="box">
          <div class="input-search">
            <div class="input">
              <input #index1 type="number" [(ngModel)]="truck">
            </div>
          </div>
        </div> 
      </div>
    </ion-col>
    </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col size="6">
      <div class="text">
        Unload : 
      </div>
    </ion-col>
    <ion-col size="3.5">
      <div class="text">
        <div class="box">
          <div class="input-search">
            <div class="input">
              <input #index1 type="number" [(ngModel)]="unload">
            </div>
          </div>
        </div> 
      </div>
    </ion-col>
    </ion-row>
    </ion-grid>

  <ion-grid *ngFor="let item of MySelect1; let i=index;">
    <ion-row>
      <ion-col size="3.5">
        <div class="text">
          <div class="box">
            <div class="input-search">
              <div class="input">
                <input #index1 type="string" [(ngModel)]="new_name[item]">
              </div>
            </div>
          </div> 
        </div>
      </ion-col>
      :
  <ion-col size="3.5">
    <div class="text">
      <div class="box">
        <div class="input-search">
          <div class="input">
            <input #index1 type="string" [(ngModel)]="new[item]">
          </div>
        </div>
      </div> 
    </div>
  </ion-col>
  <ion-col size="1">
    <button class="btn btnpos" ion-button (click)="selectNo1(0);"><ion-icon name="close-outline"></ion-icon></button>
  </ion-col>
  </ion-row>
  </ion-grid>

  <ion-row>	
    <ion-col col-5>
      <div class= "img">
        <img src="assets/icon/add.png" (click)="selectNo1(1);">
      </div>
    </ion-col>
  </ion-row>
  
  <div class= "img">
    <img src="assets/icon/Next.png" (click)="save()">
  </div>
  
  </ion-content>
  
