<ion-content>
  <div class="button_back">
    <img src="assets/icon/back.png" (click)="backpage()">
  </div>

<ion-content>
    <img class = "logo" src="assets/icon/logo.png">
<div>
  <img class = "img" src="assets/icon/origin.png">
</div>

<div class="textAlert">* Cost :</div>
<ion-grid>
   <ion-row>
    <ion-col class="text">
      {{shipment}}
      </ion-col>
  </ion-row>
</ion-grid>

<ion-grid>
    <ion-row>
      <ion-col size="6">
    <div class="text">
      Ocean Freight : 
    </div>
  </ion-col>
  <ion-col size="3.5">
    <div class="text">
      <div class="box">
        <div class="input-search">
          <div class="input">
            <input #index1 type="number" [(ngModel)]="of">
          </div>
        </div>
      </div> 
    </div>
  </ion-col>
  </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size="6">
    <div class="text">
      Therminal Handling Charge : 
    </div>
  </ion-col>
  <ion-col size="3.5">
    <div class="text">
      <div class="box">
        <div class="input-search">
          <div class="input">
            <input #index1 type="number" [(ngModel)]="thc">
          </div>
        </div>
      </div> 
    </div>
  </ion-col>
  </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size="6">
    <div class="text">
      Automated Manifest System : 
    </div>
  </ion-col>
  <ion-col size="3.5">
    <div class="text">
      <div class="box">
        <div class="input-search">
          <div class="input">
            <input #index1 type="number" [(ngModel)]="ams">
          </div>
        </div>
      </div> 
    </div>
  </ion-col>
  </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size="6">
    <div class="text">
      Bill of Lading : 
    </div>
  </ion-col>
  <ion-col size="3.5">
    <div class="text">
      <div class="box">
        <div class="input-search">
          <div class="input">
            <input #index1 type="number" [(ngModel)]="bl">
          </div>
        </div>
      </div> 
    </div>
  </ion-col>
  </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size="6">
    <div class="text">
      Handling Charge : 
    </div>
  </ion-col>
  <ion-col size="3.5">
    <div class="text">
      <div class="box">
        <div class="input-search">
          <div class="input">
            <input #index1 type="number" [(ngModel)]="hl">
          </div>
        </div>
      </div> 
    </div>
  </ion-col>
  </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size="6">
    <div class="text">
      Container Freight Station : 
    </div>
  </ion-col>
  <ion-col size="3.5">
    <div class="text">
      <div class="box">
        <div class="input-search">
          <div class="input">
            <input #index1 type="number" [(ngModel)]="cfs">
          </div>
        </div>
      </div> 
    </div>
  </ion-col>
  </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size="6">
    <div class="text">
      Telex Release : 
    </div>
  </ion-col>
  <ion-col size="3.5">
    <div class="text">
      <div class="box">
        <div class="input-search">
          <div class="input">
            <input #index1 type="number" [(ngModel)]="txl">
          </div>
        </div>
      </div> 
    </div>
  </ion-col>
  </ion-row>
  </ion-grid>

  <!-- <ion-grid>
    <ion-row>
      <ion-col size="3.5">
    <div class="text">
      STS : 
    </div>
  </ion-col>
  <ion-col size="3.5">
    <div class="text">
      <div class="box">
        <div class="input-search">
          <div class="input">
            <input #index1 type="string" [(ngModel)]="sts">
          </div>
        </div>
      </div> 
    </div>
  </ion-col>
  </ion-row>
  </ion-grid> -->


  <ion-grid *ngFor="let item of MySelect1; let i=index;">
    <ion-row>
      <ion-col size="3.5">
        <div class="text">
          <div class="box">
            <div class="input-search">
              <div class="input">
                <input #index1 type="string" [(ngModel)]="new_name[item]">
              </div>
            </div>
          </div> 
        </div>
      </ion-col>
      :
  <ion-col size="3.5">
    <div class="text">
      <div class="box">
        <div class="input-search">
          <div class="input">
            <input #index1 type="string" [(ngModel)]="new_fcl[item]">
          </div>
        </div>
      </div> 
    </div>
  </ion-col>
  <ion-col size="1">
    <button class="btn btnpos" ion-button (click)="selectNo1(0);"><ion-icon name="close-outline"></ion-icon></button>
  </ion-col>
  </ion-row>
  </ion-grid>

  <ion-row>	
    <ion-col col-5>
      <div class= "img">
        <img src="assets/icon/add.png" (click)="selectNo1(1);">
      </div>
    </ion-col>
  </ion-row>


  <div class= "img">
    <img src="assets/icon/Next.png" (click)="save()">
  </div>
</ion-content>
