<ion-content>
  <div class="button_back">
    <img src="assets/icon/back.png" (click)="backpage()">
  </div>

<ion-content>
    <img class = "logo" src="assets/icon/logo.png">
<div>
  <img class = "img" src="assets/icon/sum.png">
</div>
  
<ion-grid>
  <ion-row>
    <ion-col size="5">
  <div class="text">
    Origin cost : 
  </div>
</ion-col>
<ion-col>
<div class="box">
  <div class="input-search">
    <div class="input">
      <input #index1 type="number" [(ngModel)]="origin" [disabled]=true>
    </div>
  </div>
</div>
</ion-col>
</ion-row>
</ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size="6.5">
    <div class="text">
      Destination cost : 
    </div>
  </ion-col>
  <ion-col>
  <div class="box">
    <div class="input-search">
      <div class="input">
        <input #index1 type="number" [(ngModel)]="detination" [disabled]=true>
      </div>
    </div>
  </div>
  </ion-col>
  </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size="4.5">
    <div class="text">
      Import Tax : 
    </div>
  </ion-col>
  <ion-col>
  <div class="box">
    <div class="input-search">
      <div class="input">
        <input #index1 type="number" [(ngModel)]="tax" [disabled]=true>
      </div>
    </div>
  </div>
  </ion-col>
  </ion-row>
  </ion-grid>
  
  <ion-grid>
    <ion-row>
      <ion-col size="4.5">
    <div class="text">
      Vat 7% : 
    </div>
  </ion-col>
  <ion-col>
  <div class="box">
    <div class="input-search">
      <div class="input">
        <input #index1 type="number" [(ngModel)]="vat" [disabled]=true>
      </div>
    </div>
  </div>
  </ion-col>
  </ion-row>
  </ion-grid>
  
  <ion-grid>
    <ion-row>
      <ion-col size="4.5">
    <div class="text">
      Total cost : 
    </div>
  </ion-col>
  <ion-col>
  <div class="box">
    <div class="input-search">
      <div class="input">
        <input #index1 type="number" [(ngModel)]="total" [disabled]=true>
      </div>
    </div>
  </div>
  </ion-col>
  </ion-row>
  </ion-grid>
  
  <ion-grid>
    <ion-row>
      <ion-col size="5">
    <div class="text">
      Unit cost : 
    </div>
  </ion-col>
  <ion-col>
  <div class="box">
    <div class="input-search">
      <div class="input">
        <input #index1 type="number" [(ngModel)]="unit" [disabled]=true>
      </div>
    </div>
  </div>
  </ion-col>
  </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size="5">
    <div class="text">
      Piece Cost : 
    </div>
  </ion-col>
  <ion-col>
  <div class="box">
    <div class="input-search">
      <div class="input">
        <input #index1 type="number" [(ngModel)]="pcs" [disabled]=true>
      </div>
    </div>
  </div>
  </ion-col>
  </ion-row>
  </ion-grid>

  <div class= "pdf">
    <img src="assets/icon/pdf.png" (click)="save()">
  </div>

  <div class= "img">
    <img src="assets/icon/Home.png" (click)="home()">
  </div>
  </ion-content>


  