<ion-content>
  <div class="button_back">
    <img src="assets/icon/Home.png" (click)="backpage()">
  </div>

<ion-content>
    <img class = "logo" src="assets/icon/logo.png">
<div>
  <img class = "img" src="assets/icon/sup.png">
</div>

<ion-grid>
  <ion-row>
    <ion-col size="3.4">
  <div class="text">
    Name : 
  </div>
</ion-col>
<ion-col>
  <div class="padding">
<div class="box">
  <div class="input-search">
    <div class="input">
      <input #index1 type="string" [(ngModel)]="name">
    </div>
  </div>
</div>
</div>
</ion-col>
</ion-row>
</ion-grid>


<ion-grid>
  <ion-row class="padding">
    <ion-col size="4.3">
  <div class="text">
    Address : 
  </div>
</ion-col>
<ion-col>
  <textarea class="box1" [(ngModel)]="address"></textarea>
</ion-col>
</ion-row>
</ion-grid>

<ion-grid>
  <ion-row class="padding">
    <ion-col size="4.3">
  <div class="text">
    Country : 
  </div>
</ion-col>
<ion-col>
<div class="box">
  <div class="input-search">
    <div class="input">
      <input #index1 type="string" [(ngModel)]="country">
    </div>
  </div>
</div>
</ion-col>
</ion-row>
</ion-grid>



<ion-grid>
  <ion-row class="padding">
    <ion-col size="3">
  <div class="text">
    Tel : 
  </div>
</ion-col>
<ion-col>
<div class="box">
  <div class="input-search">
    <div class="input">
      <input #index1 type="number" [(ngModel)]="tel">
    </div>
  </div>
</div>
</ion-col>
</ion-row>
</ion-grid>

<ion-grid>
  <ion-row class="padding">
    <ion-col size="3.8">
  <div class="text">
    Contact person : 
  </div>
</ion-col>
<ion-col>

      <textarea class="box1" [(ngModel)]="contact"></textarea>

</ion-col>
</ion-row>
</ion-grid>

<ion-grid>
  <ion-row class="padding">
  <div class="text">
    Notes
  </div>
</ion-row>
</ion-grid>
<ion-grid>
  <ion-row class="padding_note">
    <textarea class="box1" [(ngModel)]="notes"></textarea>
<ion-col>
</ion-col>
</ion-row>
</ion-grid>


<div class= "img">
  <img src="assets/icon/Next.png" (click)="save()">
</div>
</ion-content>
