<ion-content>
  <div class="button_back">
    <img src="assets/icon/back.png" (click)="backpage()">
  </div>

<ion-content>
    <img class = "logo" src="assets/icon/logo.png">
<div>
  <img class = "img" src="assets/icon/product.png">
</div>
<ion-grid>
  <ion-row>
    <ion-col size="4.7">
  <div class="text">
    Description : 
  </div>
</ion-col>
<ion-col>
<div class="box">
  <div class="input-search">
    <div class="input">
      <input #index1 type="string" [(ngModel)]="description">
    </div>
  </div>
</div>
</ion-col>
</ion-row>
</ion-grid>

<ion-item lines="none">
  <ion-label>Unit</ion-label>
  <ion-select placeholder="Select Unit" [(ngModel)]="selected_value" (change)="checkbox(selected_value)" (ngModelChange)="checkbox(selected_value)" [ngModelOptions]="{standalone: true}">
    <ion-select-option value="PCK">PCK</ion-select-option>
    <ion-select-option value="CS">CS</ion-select-option>
    <ion-select-option value="CTN">CTN</ion-select-option>
    <ion-select-option value="ETC">etc</ion-select-option>
  </ion-select>
</ion-item>

<ion-grid>
  <ion-row>
      <div class="text">
        Price : USD
      </div>
  </ion-row>
</ion-grid>

<ion-grid>
  <ion-row>
      <div class="text">
        Term of the Shipment : CIF
      </div>
  </ion-row>
</ion-grid>

<ion-grid>
  <ion-row>
      <div class="text">
        Method of the Shipment : Less Than Container Load (LCL)
      </div>
  </ion-row>
</ion-grid>

<ion-grid>
  <ion-row>
    <ion-col size="3.5">
  <div class="text">
    Pcs/Unit : 
  </div>
</ion-col>
<ion-col>
<div class="box">
  <div class="input-search">
    <div class="input">
      <input #index1 type="number" [(ngModel)]="pcs">
    </div>
  </div>
</div>
</ion-col>
</ion-row>
</ion-grid>


<!-- <ion-grid>
  <ion-row>
      <div class="text">
        Term : 
      </div>
      <div class="paddingbox">
        <div class="box">
          <div class="input-search">
            <div class="input">
              <input #index1 type="string" [(ngModel)]="cif">
            </div>
          </div>
        </div>
      </div>
  </ion-row>
</ion-grid> -->

<ion-grid>
  <ion-row>
      <div class="text-bold">
        * Cubic Meter
      </div>
  </ion-row>
</ion-grid>

<ion-grid>
  <ion-row>
    <ion-col size="4.5">
  <div class="text">
    Length(cm) : 
  </div>
</ion-col>
<ion-col>
<div class="box">
  <div class="input-search">
    <div class="input">
      <input #index1 type="number" [(ngModel)]="length"
      (ngModelChange)='onChange()'>
    </div>
  </div>
</div>
</ion-col>
</ion-row>
</ion-grid>

<ion-grid>
  <ion-row>
    <ion-col size="4.5">
  <div class="text">
    Width(cm) : 
  </div>
</ion-col>
<ion-col>
<div class="box">
  <div class="input-search">
    <div class="input">
      <input #index1 type="number" [(ngModel)]="width"
      (ngModelChange)='onChange()'>
    </div>
  </div>
</div>
</ion-col>
</ion-row>
</ion-grid>

<ion-grid>
  <ion-row>
    <ion-col size="4.5">
  <div class="text">
    Height(cm) : 
  </div>
</ion-col>
<ion-col>
<div class="box">
  <div class="input-search">
    <div class="input">
      <input #index1 type="number" [(ngModel)]="height"
      (ngModelChange)='onChange()'>
    </div>
  </div>
</div>
</ion-col>
</ion-row>
</ion-grid>

<ion-grid>
  <ion-row>
    <ion-col size="6">
  <div class="text">
    Gross Weight(kg) :
  </div>
</ion-col>
<ion-col>
<div class="box">
  <div class="input-search">
    <div class="input">
      <input #index1 type="number" [(ngModel)]="gross_weight"
      (ngModelChange)='onChange()'>
    </div>
  </div>
</div>
</ion-col>
</ion-row>
</ion-grid>

<ion-grid>
  <ion-row>
    <ion-col size="4">
  <div class="text">
    Quantity : 
  </div>
</ion-col>
<ion-col>
<div class="box">
  <div class="input-search">
    <div class="input">
      <input #index1 type="number" [(ngModel)]="quantity"
      (ngModelChange)='onChange()'>
    </div>
  </div>
</div>
</ion-col>
</ion-row>
</ion-grid>

<ion-grid>
  <ion-row>
    <ion-col size="3.5">
  <div class="text">
    Weight : 
  </div>
</ion-col>
<ion-col size="4">
  <div class="text">
    <div class="box">
      <div class="input-search">
        <div class="input">
          <input #index1 type="number" [(ngModel)]="weight_ton" [disabled]=true>
        </div>
      </div>
    </div> 
  </div>
</ion-col>
<ion-col size="4">
  <div class="text">
    Ton
  </div>
</ion-col>
</ion-row>
</ion-grid>

<ion-grid>
  <ion-row>
    <ion-col size="3.5">
  <div class="text">
    Volumn : 
  </div>
</ion-col>
<ion-col size="4">
  <div class="text">
    <div class="box">
      <div class="input-search">
        <div class="input">
          <input #index1 type="number" [(ngModel)]="volumn_m3" [disabled]=true>
        </div>
      </div>
    </div> 
  </div>
</ion-col>
<ion-col size="4">
  <div class="text">
    CBM
  </div>
</ion-col>
</ion-row>
</ion-grid>

<!-- <ion-grid>
  <ion-row>
    <ion-col size="3.5">
  <div class="text">
    20' ctnr : 
  </div>
</ion-col>
<ion-col size="4">
  <div class="text">
    <div class="box">
      <div class="input-search">
        <div class="input">
          <input #index1 type="number" [(ngModel)]="_20ctnr_min" [disabled]=true>
        </div>
      </div>
    </div> 
  </div>
</ion-col>
</ion-row>
</ion-grid>

<ion-grid>
  <ion-row>
    <ion-col size="3.5">
  <div class="text">
    40' ctnr : 
  </div>
</ion-col>
<ion-col size="4">
  <div class="text">
    <div class="box">
      <div class="input-search">
        <div class="input">
          <input #index1 type="number" [(ngModel)]="_40ctnr_min" [disabled]=true>
        </div>
      </div>
    </div> 
  </div>
</ion-col>
</ion-row>
</ion-grid>

<ion-grid>
  <ion-row>
    <ion-col size="3.5">
  <div class="text">
    40' HQ ctnr : 
  </div>
</ion-col>
<ion-col size="4" class="padding_note">
  <textarea class="box1" #index1 type="number" [(ngModel)]="_40HQctnr_min" [disabled]=true></textarea>
</ion-col>
</ion-row>
</ion-grid> -->

<!-- <ion-list lines='none'>
  <ion-radio-group allow-empty-selection="true" name="radio-group" (ionChange)="radioGroupChange($event)" #radioGroup>
    <ion-list-header>
      <div class="text">
        Term
      </div>
    </ion-list-header>

    <ion-item *ngFor="let item of _term">
      <ion-label>{{item.text}}</ion-label>
      <ion-radio slot="start" name="{{item.name}}" value="{{item.value}}"
    ></ion-radio>
    </ion-item>
  </ion-radio-group>
</ion-list>
{{term}} -->

<!-- <ion-grid>
  <ion-row>
    <ion-col size="3.5">
  <div class="text">
    *minimum 
  </div>
</ion-col>
</ion-row>
</ion-grid>

    <ion-list lines='none'>
      <ion-radio-group allow-empty-selection="true" name="radio-group" (ionChange)="Shipment($event)" #radioGroup>
        <ion-list-header>
          <div class="text">
            Shipment
          </div>
        </ion-list-header>
        <ion-item *ngFor="let item of _shipment">
          <ion-col size="6">
            <div class="text">
              {{item.text}} : 
            </div>
          </ion-col>
          <ion-col size="4">
            <div class="text">
              <div class="box">
                <div class="input-search">
                  <div class="input">
                    <input #index1 [(ngModel)]="item.data" [disabled]=true>
                  </div>
                </div>
              </div> 
            </div>
          </ion-col>
          <ion-radio slot="start" name="{{item.name}}" value="{{item.value}}" disabled="{{term}}"></ion-radio>
        </ion-item>
    
      </ion-radio-group>
    </ion-list> -->

<div class= "img">
  <img src="assets/icon/Next.png" (click)="save()">
</div>

</ion-content>
