<ion-content>
  <div class="button_back">
    <img src="assets/icon/back.png" (click)="backpage()">
  </div>

<ion-content>
    <img class = "logo" src="assets/icon/logo.png">
<div>
  <img class = "img" src="assets/icon/tax.png">
</div>
  
  <ion-grid>
    <ion-row>
      <ion-col size="6">
    <div class="text">
      Exchange rate : 
    </div>
  </ion-col>
  <ion-col>
  <div class="box">
    <div class="input-search">
      <div class="input">
        <input #index1 type="string" [(ngModel)]="rate" [disabled]="true">
      </div>
    </div>
  </div>
  </ion-col>
  </ion-row>
  </ion-grid>
  
  <!-- <ion-content [fullscreen]="true">
    <ion-searchbar placeholder="Search..." [(ngModel)]="filterTerm" animated="true"></ion-searchbar>
  
    <ion-list>
      <ion-item *ngFor="let data of csvData | filter:filterTerm">
        <ion-label>{{data[2]}}</ion-label>
        <ion-label>{{data[3]}}</ion-label>
      </ion-item>
    </ion-list>
  </ion-content> -->
  
  <ion-grid>
    <ion-row>
      <ion-col size="4">
    <div class="text">
      HS Code : 
    </div>
  </ion-col>
  <ion-col>
  <div class="box">
    <div class="input-search">
      <div class="input">
        <input #index1 type="string" [(ngModel)]="hs">
      </div>
    </div>
  </div>
  </ion-col>
  </ion-row>
  </ion-grid>
  
  <ion-grid>
    <ion-row>
      <ion-col size="4">
    <div class="text">
      Import Tax rate : 
    </div>
  </ion-col>
  <ion-col>
  <div class="box">
    <div class="input-search">
      <div class="input">
        <input #index1 type="number" [(ngModel)]="tax_rate" (ngModelChange)='onChange()'>
      </div>
    </div>
  </div>
  </ion-col>
  </ion-row>
  </ion-grid>
  
  <ion-grid>
    <ion-row>
      <ion-col size="3.5">
    <div class="text">
      Vat 7% : 
    </div>
  </ion-col>
  <ion-col>
  <div class="box">
    <div class="input-search">
      <div class="input">
        <input #index1 type="string" [(ngModel)]="vat" [disabled]="true">
      </div>
    </div>
  </div>
  </ion-col>
  </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size="5.5">
    <div class="text">
      CIF Amount : 
    </div>
  </ion-col>
  <ion-col>
  <div class="box">
    <div class="input-search">
      <div class="input">
        <input #index1 type="string" [(ngModel)]="cif" [disabled]="true">
      </div>
    </div>
  </div>
  </ion-col>
  </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size="5.5">
    <div class="text">
      Total amount : 
    </div>
  </ion-col>
  <ion-col>
  <div class="box">
    <div class="input-search">
      <div class="input">
        <input #index1 type="string" [(ngModel)]="total" [disabled]="true">
      </div>
    </div>
  </div>
  </ion-col>
  </ion-row>
  </ion-grid>
  <div class= "img">
    <img src="assets/icon/Next.png" (click)="save()">
  </div>
  <ion-row>
    <ion-col size="5">  
      <div class= "web">
      <img src="assets/icon/call.png" (click)="call()">
    </div>
  </ion-col>
  <ion-col size="5">  
    <div class= "web">
      <img src="assets/icon/Web.png" (click)="openWeb()">
    </div>
  </ion-col>
  </ion-row>
  </ion-content>
  