ion-content{
    --ion-background-color: #8ec6c5;

}

.logo{
    width: 60%;
    margin-left: 25%;
  }
  

.text{
  width: 20%;
  height: 30px;
  color: #00263b;
  margin-left: 25px;
  margin-top: 2%;
}

.padding_button{
    padding-left: 35%;
    padding-top: 5%;
    .button{
        width: 40%;
        height: 40%;
    
    }
}


.padding{
    padding-top: 50%;
    padding-left: 5%;
    padding-right: 5%;
}

.box{
  background-color:#ffffff;
  border-radius: 30px;
  position: relative;
  width:90%;
  margin-top: 2%;
  margin-left: 20px;
  justify-content: center;
  align-items: center;

}

.input-search{
  display: flex;
  flex-direction: row;
  align-items: center;
  .input{
      flex: 1;
      background-color: #ffffff;
      height: 2.5em;
      border-radius: 1.25em;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
      &.error{
          border:1px solid red;
      }
      input{
          width: 100%;
          outline: none;
          border: none;
          background: none;
          color: #6cacad;
      }


      ::placeholder {
          color: #6cacad;
          opacity: 1; /* Firefox */
      }
      
      :-ms-input-placeholder { /* Internet Explorer 10-11 */
          color: #6cacad;
      }
      
      ::-ms-input-placeholder { /* Microsoft Edge */
          color: #6cacad;
      }
      input:-webkit-autofill,
      input:-webkit-autofill:hover, 
      input:-webkit-autofill:focus, 
      input:-webkit-autofill:active  {
          -webkit-box-shadow: 0 0 0 30px white inset !important;
          border: none !important;
      }
  }

  
}