<ion-content [fullscreen]="true">
  <div class="padding">
  <img class = "logo" src="assets/icon/logo.png">
<div class="box">
  <div class="input-search">
    <div class="input">
      <ion-icon name="search"></ion-icon>
      <input placeholder="เลข" #index1 type="string" (keyup)="onSearchInput()" autocomplete="on"
        [(ngModel)]="search">
    </div>
  </div>
</div>
</div>

<div class = "padding_button">
  <div class= "button">
    <img src="assets/icon/add.png" [routerLink]="['/supplier']" >
  </div>
</div>

</ion-content>